<h1 style="text-align: center">Ligas</h1>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem">
    <img src="../../../assets/img/usa.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">NBA - USA</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Entrar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      src="../../../assets/img/argentina.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Argentina</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Entrar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/img/uruguay.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Uruguay</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Entrar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      src="../../../assets/img/colombia.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Colombia</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Entrar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/img/UEE.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Europa</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Entrar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/img/russia.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Rusia</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Entrar</a>
    </div>
  </div>
</div>
